body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #769165;
    color: #ffe7d3;
}

select#difficulty{
    max-width: 200px;
    margin-right: 10px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 2rem;
    color: #ffe7d3;
}

h2{
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    margin-top: 1px;
    margin-bottom: 10px;
}

h3{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 0px;
    margin-bottom: 0;
}
#problem-description{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top: 1px;
    margin-bottom: 25px;
}
.controls,
#problem-section {
    background: #3e4c35;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

select,
input[type="text"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #769165;
    color: #3e4c35;
    text-align: center;
    border-radius: 5px;
}


button {
    padding: 10px 15px;
    background-color: #a5622d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #533117;
}

.hidden {
    display: none;
}

#result-message {
    font-size: 1rem;
    margin-top: 15px;
    font-weight: bold;
}

#graph-container {
    border: 2px solid #a5622d;
    background-color: #111;
    border-radius: 20px;
    margin-bottom: 20px;
}

.navigate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.navlink{
    text-decoration: none ;
    color: inherit;   
    margin-bottom: 10px;
}

.progress-circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#a5622d calc(var(--progress) * 1%), #3e4c35 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.progress-circle::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #769165;
}

.progress-circle span {
    position: relative;
    font-size: 18px;
    color: #ffe7d3;
    z-index: 1;
}
